/* All the css attributes can be found at https://developer.mozilla.org/en-US/docs/Web/CSS */

.App {
  text-align: center;
}

.App-logo {
  /* 40 vmin means 40 viewport min(height, width) unit
  https://www.w3.org/TR/css3-values/#viewport-relative-lengths */
  height: 40vmin;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
  pointer-events: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#media_features */
/* A conditional group rule that will apply its content if the device meets 
the criteria of the condition defined using a media query. */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* control the key frames to make animation look seamless */
/* Describes the aspect of intermediate steps in a CSS animation sequence */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
